# Build and Release Folders
bin/
bin-debug/
bin-release/

rsds/
data/
validation.GEBA/

[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.log
*.swf
*.air
*.ipa
*.apk
*.eps
*.pdf


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
